* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.title {
    margin-top: 10px;
    font-size: 32px;
}

.subtitle {
    font-size: 18px;
}

.tasks {
    width: 100%;
    max-width: 400px;
    margin: 0 10px;
    list-style: none;
}

.no-task {
    font-size: 24px;
    margin: 36px 0;
}

#task-form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#new-task, #add-task {
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    margin: 5px 0;
}

#add-task {
    cursor: pointer;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px 20px;
    box-shadow: 
    0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07);
    border-radius: 5px;
    min-height: 50px;
}

.task-title {
    font-size: 20px;
}

.task-details {
    display: flex;
    flex-direction: column;
}

.delete-button {
    background: none;
    border: none;
    cursor: pointer;
}

.error-message {
    margin: 5px 0;
    color: red;
}

.error-hidden {
    visibility: hidden;
}

.error-visible {
    visibility: visible;
}